<!doctype html>
<html lang="en">
  <head>
    <%- include('./common/head') %>
    <!-- <link rel="stylesheet" href="stylesheets/index.js"> -->
    <link rel="stylesheet" href="/stylesheets/form-validation.css">
    <style>
        label{
            font-weight: bold;
        }
    </style>
  </head>

  <body>

    <header>
      <%- include('./common/navbar') %>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container-fluid" style="max-width:90%;">
        
        <div class="py-2 my-1 text-center">
            <h2>Confirmation form</h2>
            <p class="lead">Kindly confirm and fill the form below.</p>
            <p class="lead text-danger">
                Please Check the fileds highlighted <span class="bg-warning">yellow</span> very carefully.
            </p>
        </div>

        <div class="row">
            <div class="col-md-5 order-md-2 mb-4">
                <h4 class="mb-3">Preview</h4>
                <iframe src="/uploads/gemUploads/<%= formData.fileName %>" class='w-100 h-75 my-4 sticky-top'></iframe>
                
            </div>
            <div class="col-md-7 order-md-1">
            <h4 class="mb-3">Purchase Order Details <span class='text-muted'>( <span style="color:red;"><strong>*</strong></span> ) <em>Validation Needed</em></span></h4>
            <form class="needs-validation my-4 w-100" action="/confirmationPage/<%= formData._id %>" method="POST" novalidate>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="serialNo" class="required">Sr.No.</label>
                        <input type="number" class="form-control" id="serialNo" placeholder="" value="<%= formData.serialNo %>" name="serialNo" required>
                        <div class="invalid-feedback">
                        Valid Sr.no. is required.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="indentNo" class="required">Indent No.</label>
                        <input type="number" class="form-control" id="indentNo" placeholder="" value="<%= formData.indentNo %>" name="indentNo" required>
                        <div class="invalid-feedback">
                        Valid indent number is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="datePrepared" class="required">Date</label>
                        <input type="date" class="form-control" id="datePrepared" placeholder="" value="<%= formData.datePrepared %>" name="datePrepared" required>
                        <div class="invalid-feedback">
                        Valid Date is required.
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label for="fileNo" class="required bg-warning">File No.</label>
                            <input type="text" class="form-control" id="fileNo" placeholder="File Number" name="fileNo" value="<%= formData.fileNo %>" required style="border-color:yellow;">
                            <div class="invalid-feedback" style="width: 100%;">
                            File Number is required.
                        </div> 
                    </div>

                    <div class="mb-3 col-md-6">
                        <label for="indenter" class="required">Name of Indenter</label>
                        <input type="indenter" class="form-control" id="indenter" name="indenter" placeholder="Dr. Harpreet Singh" value="<%= formData.indenter %>" required>
                        <div class="invalid-feedback">
                            Please enter a valid Name of indenter.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="department" class="required">Department</label>
                    <input type="text" class="form-control" id="department" placeholder="Mechanical Engg." name="department" value="<%= formData.department %>" required>
                    <div class="invalid-feedback">
                        Please enter Department Name.
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4" >
                        <label for="fundingAgency">Funding Agency<span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" id="fundingAgency" placeholder="" name="fundingAgency">
                    </div>

                    <div class="mb-3 col-md-4" >
                        <label for="projectName">Project Name<span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" id="projectName" placeholder="" name="projectName">
                    </div>

                    <div class="mb-3 col-md-4" class="required">
                        <label for="itemName" class="required">Item Name</label>
                        <input type="text" class="form-control" id="itemName" placeholder="" name="itemName" value="<%= formData.itemName %>" required>
                        <div class="invalid-feedback">
                            Please enter Item Name.
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-4 ">
                        Origin :
                    </div>
                    <div class="custom-control custom-radio col-md-4">
                        <input id="indian" name="indianImported" type="radio" class="custom-control-input" value="Indian" checked required>
                        <label class="custom-control-label " for="indian">Indian</label>
                    </div>
                    <div class="custom-control custom-radio col-md-4">
                        <input id="imported" name="indianImported" type="radio" class="custom-control-input" value="Imported" required>
                        <label class="custom-control-label" for="imported">Imported</label>
                    </div>
                </div>
                <div class="row">

                    <div class="mb-3 col-md-3">
                        <label for="amount"  class=" bg-warning required">Amount</label>
                        <input type="number" class="form-control" id="amount" placeholder="" name="amount" value="<%= formData.amount %>" required style="border-color:yellow;">
                        <div class="invalid-feedback">
                            Please enter Amount.
                        </div>
                    </div>
                    
                    <div class="mb-3 col-md-3">
                        <label for="importAmount" > Import Amount </label>
                        <input type="number" class="form-control" id="importAmount" placeholder="" name="importAmount" value="0">
                    </div>

                    <div class="form-group mb-3 col-md-3">
                        <label for="category" class="required">Category</label>
                        <select class="form-control" id="category" name="category" required>
                        <option value="Consumable">Consumable</option>
                        <option value="Non Consumable">Non Consumable</option>
                        <option value="Both">Both</option>
                        </select>
                        <div class="invalid-feedback">
                            Please Select Category.
                        </div>
                    </div>
                    
                    <div class="mb-3 col-md-3">
                        <label for="modeofPurchase" class="required">Mode of Purchase</label>
                        <input type="text" class="form-control" id="modeofPurchase" placeholder="" name="modeofPurchase" value="<%= formData.modeofPurchase %>" required>
                        <div class="invalid-feedback">
                            Please enter mode of purchase.
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                </div>
                <hr class="mb-4">

                <h4 class="mb-3">PO Details</h4>

                
                <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="poNumber" class="required bg-warning">PO Number</label>
                    <input type="text" class="form-control" id="poNumber" placeholder="" name="poNumber" value="<%= formData.poNumber %>" required style="border-color:yellow;">
                    <div class="invalid-feedback">
                    PO Number is required
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="poDate" class="required">PO Date</label>
                    <input type="date" class="form-control" id="date" placeholder="" name="poDate" value="<%= formData.poDate %>" required>
                    <div class="invalid-feedback">
                    PO Date is required
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="poAmount" class="required bg-warning">PO Amount</label>
                    <input type="number" class="form-control" id="poAmount" name="poAmount" placeholder="" value="<%= formData.poAmount %>" required style="border-color:yellow;">
                    <div class="invalid-feedback">
                    PO Amount is required
                    </div>
                </div>
                </div>

                

                <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="supplier" class="required">Supplier</label>
                    <input type="supplier" class="form-control" id="supplier" placeholder="" name="supplier" value="<%= formData.supplier %>" required>
                    <div class="invalid-feedback">
                    Supplier is required
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="materialDescription" class="required">Material Description</label>
                    <input type="text" class="form-control" id="materialDescription" name="materialDescription" value="<%= formData.materialDescription %>" required>
                    <div class="invalid-feedback">
                    Material Description required
                    </div>
                </div>
                
                </div>
                <div class="mb-3 d-none">
                    <label for="fileName"> File Name <span class="text-muted">(Disabled)</span></label>
                    <input type="text" class="form-control" id="fileName" placeholder="" name="fileName" value="<%= formData.fileName %>" >
                </div>
                <div class="mb-3">
                    <label for="remarks"> Remarks <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" id="remarks" placeholder="" name="remarks" value="<%= formData.remarks %>">
                </div>
                <hr class="mb-4">
                <input type="checkbox" name="sendEmail" id="sendEmail" value="1">
                <label for="sendEmail">Receive Confirmation Email? </label>
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" class="btn  btn-outline-success btn-lg btn-block" name="submit" value="Submit">
                    </div>
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-primary btn-outline-primary btn-lg btn-block" name="submit" value="Continue Later" formaction="/continueLater/<%= formData._id %>" formmethod="POST">
                    </div>
                </div>
            </form>
            </div>
        </div>
        
    </main>

    <%- include('./common/footer') %>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
  
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
  
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                //   console.log(event.submitter.name);
                if (form.checkValidity() === false && event.submitter.value!=='Continue Later') {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
        document.querySelectorAll("input:required").forEach(ele=>{
            ele.addEventListener('focusout',(e)=>{
                if(e.target.value.length > 0){
                    e.target.classList.add('is-valid');
                    e.target.previousElementSibling.style.color="green";
                    e.target.style.color="green";
                    e.target.classList.remove('is-invalid');
                    }
                else {
                    e.target.classList.remove('is-valid');
                    e.target.previousElementSibling.style.color="red";
                    e.target.style.color="black";
                    e.target.classList.add('is-invalid');
                }
            })
        })
      </script>
  </body>
</html>
