<!doctype html>
<html lang="en">
  <head>
    <%- include('./common/head') %>
    <link rel="stylesheet" href="stylesheets/index.css">
  </head>

  <body>

    <header>
      <%- include('./common/navbar') %>
      <% if(successFlash.length>0) { %>
        <div class="container mt-1">
          <div class="alert alert-info">
            <%= successFlash %>
          </div>
        </div>
        <% } %>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
      <div class="jumbotron ">
        <h1 class="display-5">ICSR, IIT Ropar</h1>
        <p class="lead">Welcome to the Purchase Order Filing Site.</p>
        <hr class="my-4">
        <p>This portal can only be accessed using IIT Ropar Email ID.</p>
      </div>

      

      <!-- <div class="row">
        <div class="col-6">
          <a href="/uploadPage" class="btn btn-secondary btn-lg">Upload a new PO</a>
        </div>
        <div class="col-6">
          <a href="#" class="btn btn-secondary btn-lg">View Previously Uploaded PO</a>
        </div>
      </div> -->
      <div class="container">
      <div id="dock-container">
        <div id="dock">
          <ul>
            <li>
              <span>Upload a new PO</span>
              <a href="/uploadPage"><img src="images/du1.png"/></a>
            </li>
            <li>
              <span>View Saved PO</span>
              <a href="/savedPOPage"><img src="images/dv.png"/></a>
            </li>
            <li>
              <span>Batch Upload PO</span>
              <a href="/batchUpload"><img src="images/batchup.png" alt=""></a>
            </li>
            <li>
              <span>Upload GeM PO</span>
              <a href="/gem"><img src="images/gemLogo.jpg" alt=""></a>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
      <% if(user) { %>
        <!-- <iframe class="mt-4 w-100" style="height:200px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTaLRUM7kWap-wQs5kE_pKPUTBE2E4Wc9jd04NAIAOo_eiT_8AGe6_rUECqaZ_IVSYttEl5gN6211ze/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe> -->
        <!-- <iframe  src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQp2z0stPhyH256UltThLB9LHid42QALok4sBIQOx8GSBgAzKM5KAkzgJtKzaaOAcfj8MopDYDOqWo_/pubhtml?gid=0&amp;widget=true&amp;headers=false"></iframe> -->
        <div class="row my-4 py-4 mx-auto">
          <div class="col-md-6 d-flex justify-content-center">
            <a href="https://docs.google.com/spreadsheets/d/<%= user.googleSheetLink %>" target="_blank">
            <div class="btn btn-outline-success btn-lg ">
              Go to Google Sheet
            </div>
          </a>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
            <a href="https://drive.google.com/drive/folders/<%= user.driveFolderLink %>" target="_blank">
            <div class="btn btn-outline-primary btn-lg ">
              Go to Google Drive
            </div>
          </a>
          </div>
        </div>  
        <% } %>
    </main>
    
    <%- include('./common/footer') %>
    
  </body>
</html>