<!doctype html>
<html lang="en">
  <head>
    <%- include('./common/head') %>
    <link rel="stylesheet" href="stylesheets/index.css">
  </head>

  <body>

    <header>
      <%- include('./common/navbar') %>
      <% if(successFlash.length>0) { %>
        <div class="container mt-1">
          <div class="alert alert-info">
            <%= successFlash %>
          </div>
        </div>
      <% } %>
    </header>

    <!-- Begin page content -->
    <main style="margin-top: 60px;">
      <div class="py-5 my-3 text-center">
        <h2>POs saved for later.</h2>
        <p class="lead">Select some of the POs to contiue working on...</p>
      </div>

      <div class="container my-3">
        <% if(pos.length>0) { %>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Serial No</th>
                <th scope="col">Indent No</th>
                <th scope="col">Date Prepared</th>
                <th scope="col">File No</th>
                <th scope="col">Workon</th>
              </tr>
            </thead>
            <tbody>
                <% pos.forEach(po => { %> 
              <tr>
                <!-- <th scope="row">1</th> -->
                <td><%=po.serialNo %></td>
                <td><%=po.indentNo %></td>
                <td><%=po.datePrepared %></td>
                <td><%=po.fileNo %></td>
                <td><a class="btn btn-outline-primary" href="/confirmationPage/<%= po._id %>">Edit</a></td>
              </tr>
           <% }); %>
            </tbody>
          </table>
          <% } else { %>
            <p class="lead text-center">Wohoo... All Done for now!</p>
            <% } %>
        </div>
    </main>
    
    <%- include('./common/footer') %>
    
  </body>
</html>